@mixin blackico {
  &.open {
    .v-sliderpanel-icon:before {
      content: "\f056";
      color: black;
    }
  }

  &.closed {
    .v-sliderpanel-icon:before {
      content: "\f055";
      color: black;
    }
  }
}

@mixin sliderpanel {
  /* --------- wrapper --------- */
  .v-sliderpanel-wrapper {
    margin-left: auto;
    margin-right: auto;

    &.layout-horizontal {
      /* --------- horizontal handling --------- */
      width: 100%;
      height: 0;
      position: relative;

      .v-sliderpanel-content {
        /* ------- content ------- */
        width: 100%;
      }
      .v-sliderpanel-tab {
        /* ------- tab ------- */
        border-radius: 0 0 10px 10px;
        height: $tab-short-size-v * 1px;
        width: $tab-long-size-v * 1px;

        &.tab-beginning {
          left: 4%;
        }
        &.tab-middle {
          left: 50%;
          margin-left: $tab-long-size-v * -0.5px;
        }
        &.tab-end {
          left: 96%;
          margin-left: $tab-long-size-v * -1px;
        }
      }
      .v-sliderpanel-navigator {
        height: $tab-short-size-v * 1px;
        width: 100%;
      }
      &.mode-bottom {
        .v-sliderpanel-tab {
          border-radius: 10px 10px 0 0;
        }
        .v-sliderpanel-navigator {
          position: absolute;
        }
      }
    }
    &.layout-vertical {
      /* --------- vertical handling --------- */
      height: 100%;
      width: 0;
      position: relative;

      .v-sliderpanel-content {
        /* ------- content ------- */
        height: 100%;
      }
      .v-sliderpanel-tab {
        /* ------- tab ------- */
        border-radius: 0 0 10px 10px;
        height: $tab-short-size-v * 1px;
        width: $tab-long-size-v * 1px;
        position: absolute;

        &.tab-beginning {
          top: 4%;
        }
        &.tab-middle {
          top: 50%;
          margin-top: $tab-short-size-v * -0.5px;
        }
        &.tab-end {
          bottom: 4%;
        }
      }
      .v-sliderpanel-navigator {
        /* ------- navigation ------- */
        position: absolute;
        height: 100%;
        width: $tab-short-size-v * 1px;
      }
      &.mode-right {
        margin-left: 0;
        .v-sliderpanel-tab {
          border-radius: 0 0 10px 10px;
          -moz-transform: rotate(90.0deg);
          -o-transform: rotate(90.0deg);
          -webkit-transform: rotate(90.0deg);
          transform: rotate(90.0deg);
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
          left: $tab-long-size-v * -0.5px + $tab-short-size-v * 0.5px;
        }
        .v-sliderpanel-navigator {
          left: 0;
        }
        .v-sliderpanel-content {
          float: right;
          left: $tab-short-size-v * 1px;
        }
      }
      &.mode-left {
        margin-right: 0;
        .v-sliderpanel-tab {
          -moz-transform: rotate(270.0deg);
          -o-transform: rotate(270.0deg);
          -webkit-transform: rotate(270.0deg);
          transform: rotate(270.0deg);
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          margin-top: $tab-long-size-v * 0.5px;
          margin-left: $tab-long-size-v * -0.5px + $tab-short-size-v * 0.5px;
        }
        .v-sliderpanel-content {
          left: $tab-short-size-v * -1px;
        }
        .v-sliderpanel-navigator {
          right: 0;
        }
        &.flow-in-content {
          .v-sliderpanel-content {
            // new slider doesn't need this
            left: 0;
          }
        }
      }
    }
  }

  /* --------- content --------- */
  .v-sliderpanel-content {
    overflow: hidden;
    position: absolute;
    background: #808080;
    color: #fff;

    h1, .v-label-h1, h2, .v-label-h2, h3, .v-label-h3 {
      color: #fff;
    }
    .v-grid, .v-table {
      color: black;
    }
  }

  /* --------- navigator --------- */
  .v-sliderpanel-navigator {
    position: relative;
    top: 0;
    pointer-events: none;
  }

  /* --------- tab action caption --------- */
  .v-sliderpanel-tab {
    position: relative;
    line-height: 35px;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
    background: #808080;
    pointer-events: all;

    &.open {
      .v-sliderpanel-icon:before {
        content: "\f056";
        color: white;
      }
    }

    &.closed {
      .v-sliderpanel-icon:before {
        content: "\f055";
        color: white;
      }
    }

    .v-sliderpanel-caption {
      padding: 3px 0 0 15px;
      width: $tab-caption-size-v * 1px;
      overflow: hidden;
      word-break: break-all;
      height: $tab-short-size-v - 6px;
    }
  }

  /* --------- icon --------- */
  .v-sliderpanel-icon {
    height: 22px;
    width: 22px;
    position: absolute;
    top: 10px;
    right: 10px;

    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
  }

  /* --------- different colors --------- */


  .v-sliderpanel-tab.blackico {
    @include blackico;
  }

  .sp-white {
    &.v-sliderpanel-content, &.v-sliderpanel-tab {
      background: #fafafa;
      color: #000;
      h1, .v-label-h1, h2, .v-label-h2, h3, .v-label-h3 {
        color: #000;
      }
    }
    &.v-sliderpanel-tab {
      @include blackico;
    }

    .v-sliderpanel-content {
      -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    }

    &.layout-vertical {
      .v-sliderpanel-tab {
        -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
      }
    }
    &.mode-top {
      .v-sliderpanel-tab {
        -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
      }
    }
    &.mode-bottom {
      .v-sliderpanel-tab {
        -moz-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .sp-blue {
    &.v-sliderpanel-content, &.v-sliderpanel-tab {
      background: #197de1;
      color: #fff;
    }
  }

  .sp-green {
    &.v-sliderpanel-content, &.v-sliderpanel-tab {
      background: #3dbc1a;
      color: #fff;
    }
  }

  .sp-red {
    &.v-sliderpanel-content, &.v-sliderpanel-tab {
      background: #ed473b;
      color: #fff;
    }
  }
}